.panel-heading{
	text-align: center;
}

.avatar{
	width: 80px;
	height: 80px;
	display: inline-block;
	margin: 10px;
}

.item{
	border-top: 1px solid #eee;
	padding: 20px 0;
	
	min-height: 150px;
}

.icon{
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 15px;
	display: inline-block;
}

.content{
	float: left;
	width: 85%;
}

.item:hover .close{
	display: block;
}

.close{
	margin-top: -20px;
	display: none;
}

.item a:hover{
	text-decoration: none;
}

.item_pic{
	max-width: 300px;
	margin-bottom: 10px;
	display: inline-block;
}

.price{
	float: right;
	font-size: 24px;
	font-weight: bold;
	text-align: right;
}

.clearfix:after{
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.info{
	color:#ccc;
}

.info a:focus{
	text-decoration: none;
}



.zan{
	float: right;
	display: inline-block;
}

.zanlist{
	margin-top: 15px;
}

ul{
	list-style: none;
	padding: 0;
}

.zanlist li{
	list-style: none;
	float: left;
}
.zan_icon{

	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-right: 5px;
}

.comment_li{
	margin-top: 10px;
	font-size: 12px;
}



.comment_icon{
	width: 30px;
	height: 30px;
	margin-right: 10px;
	display: inline-block;
	float: left;
}

.time{
	font-size: 12px;
	color: #ccc;
}

.price .btn_buy{
	margin-top: 14px;
}

.comment .comment_box{
	width: 100%;
	height: 34px;
	resize: none;
	font-size: 16px;
	color: #ccc;
}



.comment .btn_comment{
	float: right;
	text-align: right;
	display: none;
}

.text-box-on .comment_box{
	width: 100%;
    height: 100px;
    resize: none;
	color: #000;
	margin-bottom:10px;
}

.text-box-on .btn_comment{
	display: inline;
}
